<% title "Team: #{@team.name}" %>

<h1><%= yield(:title) %></h1>

<p>
  <b>Match:</b>
  <%= @team.match_id %>
</p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>Winner:</b>
  <%= @team.winner %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
