<%= semantic_form_for(@round, :url => url, :html => { :method => method }) do |f| %>
  <%= f.inputs do %>
    <%= f.input :name %>
	<li class="datetime input optional"><label>Starts at</label><span class="date"><%= f.datetime_select(:starts_at, :order => [:day, :month, :year]) %></span>
	<li class="datetime input optional"><label>Cutoff at</label><span class="date"><%= f.datetime_select(:cutoff_at, :order => [:day, :month, :year]) %></span>
    <%= f.input :previous, collection: Round.all %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :input %>
  <% end %>
<% end %>
