<% title "Round #{@round.name}" %>

<h1><%= yield(:title) %></h1>

<p>
  <b>Name:</b>
  <%= @round.name %>
</p>

<p>
  <b>Cutoff at:</b>
  <%= @round.cutoff_at %>
</p>

<p>
  <b>Starts at:</b>
  <%= @round.starts_at %>
</p>


<%= link_to 'Edit', edit_admin_round_path(@round) %> |
<%= link_to 'Back', admin_rounds_path %>
