<h1>Listing users</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Name</th>
    <th>Hashed password</th>
    <th>Salt</th>
    <th>Email</th>
    <th>Nickname</th>
    <th>Admin</th>
    <th>Shares remaining</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.login %></td>
    <td><%= user.name %></td>
    <td><%= user.hashed_password %></td>
    <td><%= user.salt %></td>
    <td><%= user.email %></td>
    <td><%= user.nickname %></td>
    <td><%= user.admin %></td>
    <td><%= user.shares_remaining %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
