<% title "Admin Functions" %>

<h1><%= yield(:title) %></h1>

<ul class="simple-list">
	<li><%= link_to 'Users', admin_users_url %></li>
	<li><%= link_to 'Rounds', admin_rounds_url %></li>
	<li><%= link_to 'Matches', admin_matches_url %></li>
	<li><%= link_to 'Teams', admin_teams_url %></li>
	<li><%= link_to 'Shares', admin_shares_url %></li>
</ul>
