<% title "Match #{@match.name}" %>

<h1><%= yield(:title) %></h1>

<p>
  <b>Name:</b>
  <%= @match.name %>
</p>

<p>
  <b>Venue:</b>
  <%= @match.venue %>
</p>

<p>
  <b>Round:</b>
  <%= @match.round_id %>
</p>

<p>
  <b>Allow only one team:</b>
  <%= @match.allow_only_one_team %>
</p>

<p>
  <b>Completed:</b>
  <%= @match.completed %>
</p>


<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
